@page "/ProductDetails/{Id:int}"
@using BlazorApp1.Managers
@using DataTransferObjects
@inject NavigationManager NavigationManager
@inject IManager Manager


@if (Item == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <div class="container mt-5">
        <h2 class="text-center mb-5">Product Details</h2>
        <div class="row g-4">
          
            <div class="col-md-6 text-center">
                <img class="img-fluid rounded shadow" src="@Item.ImageUrl" alt="@Item.Name" />
            </div>

          
            <div class="col-md-6">
                <div class="card p-4 shadow-lg">
                    <h3 class="card-title">@Item.Name</h3>
                    <p class="card-text text-muted">@Item.Description</p>
               <!--   <p class="card-text"><strong>Color:</strong> <span>@Item.Colour</span></p>/  -->
                    <p class="card-text"><strong>Price:</strong> <span class="text-success">@Item.Price.ToString("C", new System.Globalization.CultureInfo("en-DK"))</span></p>
                    
                    <div class="d-grid mt-4">
                        <button type="button" class="btn btn-primary btn-lg" @onclick="AddToCart_Click">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public int Id { get; set; }
    public ItemDTOs Item { get; set; }
    public string ErrorMessage { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            Item = await Manager.GetProductByIdAsync(Id);
            if (Item == null)
            {
                ErrorMessage = "Product not found.";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "An error occurred while fetching the product details. " + ex.Message;
        }
    }


    private async Task AddToCart_Click()
    {
        NavigationManager.NavigateTo("/ShoppingCart");
    }

}