@*
<h3>ShoppingCart</h3>
@page "/ShoppingCart"

@inherits ShoppingCartBaseTry

@if (CartItems.Count > 0)
{
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row mb-5">
        <div class="col-md-9">
            @foreach (var item in CartItems)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@item.Value.Item.ImageURL" width="300" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <h5>@item.Value.Item.Name</h5>
                        <div class="mb-4">@item.Value.Item.Description</div>
                        <span>
                            Price: <b>@item.Value.Item.Price.ToString("C")</b>
                            <input type="number" @bind="@item.Value.Quantity" 
                                   @onchange="(e) => UpdateQuantity(item.Key, Convert.ToInt32(e.Value))" />
                            <button class="btn btn-info btn-sm update-qty"
                                    @onclick="(() => UpdateQuantity(item.Key, item.Value.Quantity))">
                                Update Qty
                            </button>
                        </span>
                        <div>
                            <button @onclick="(() => RemoveFromCart(item.Key))"
                                    class="btn btn-danger sm">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <h5>Cart Summary</h5>
            <div class="mt-2">
                <div>Total - (@CartItems.Values.Sum(i => i.Quantity) items)&nbsp;
                    <b>@CartTotal.ToString("C")</b>
                </div>
                <button class="btn btn-success" @onclick="Checkout">
                    <span class="oi oi-credit-card"></span>&nbsp; Proceed to Checkout
                </button>
            </div>
        </div>
    </div>
}
else
{
    <h4>There are currently no items in your shopping cart</h4>
}
*@
