<h3>ShoppingCart</h3>
@page "/ShoppingCart"

@inherits ShoppingCartBase

@if (CartItems.Count > 0)
{
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row mb-5">
        <div class="col-md-9">

            @foreach (var item in CartItems)
            {
            var cartItem = item.Value; 

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="@cartItem.Item.ImageURL" alt="@cartItem.Item.Name" class="img-thumbnail" />
                </div>
                <div class="col-md-8">
                    <h5>@cartItem.Item.Name</h5>
                    <p>@cartItem.Item.Description</p>
                    <p>Price: <b>@cartItem.Item.Price.ToString("C")</b></p>
                    <p>Quantity:</p>
                    <input type="number" value="@cartItem.Quantity"
                           @oninput="@(e => UpdateQuantity(item.Key, Convert.ToInt32(e.Value)))" />
                    <button class="btn btn-info btn-sm"
                            @onclick="(() => UpdateQuantity(item.Key, cartItem.Quantity))">
                        Update Qty
                    </button>
                    <button class="btn btn-danger sm"
                            @onclick="(() => RemoveFromCart(item.Key))">
                        <i class="fa fa-trash"></i> Remove
                    </button>
                </div>
            </div>
            }

            }
</div>
        <div class="col-md-3">
            <h5>Cart Summary</h5>
            <div class="mt-2">
                <div>Total - (@CartItems.Values.Sum(i => i.Quantity) items)&nbsp;
                    <b>@CartTotal.ToString("C")</b>
                </div>
                <button class="btn btn-success" @onclick="Checkout">
                    <span class="oi oi-credit-card"></span>&nbsp; Proceed to Checkout
                </button>
            </div>
        </div>
    </div>
}
else
{
    <h4>There are currently no items in your shopping cart</h4>
}